{% extends "base.html" %}
{% block conteudo %}
    <table class="table table-hover">

            <table class="table table-hover table-dark">
      <thead class="thead-dark">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">NOME</th>
          <th scope="col">ALTURA</th>
          <th scope="col">VELOCIDADE</th>
            <th scope="col">CATEGORIA</th>

        </tr>
      </thead>
        <h2 align="center">Pokedex</h2>
        <!--<thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Altura</th>
            <th>Velocidade</th>
            <th>Categoria</th>
        </tr>
        </thead>
        <tbody>-->
        {% for objeto in todos_pokemons %}

                <tbody>
            <tr>

              <td><a href="{% url 'APLICACAO:um_pokemon' idpokemon=objeto.id %}">
                   <img  width="40" src="{{ objeto.imagem.url }}"></a></td>
              <td>{{ objeto.nome }}</td>
              <td>{{ objeto.altura }}</td>
                <td>{{ objeto.velocidade }}</td>
                <td>{{ objeto.fk_categoria.nome }}</td>


            </tr>
                <!--
            <tr scope="row">
                <td><a href="{% url 'APLICACAO:um_pokemon' idpokemon=objeto.id %}">
                    {{ objeto.id }}</a></td>
                <td>{{ objeto.nome }}</td>
                <td>{{ objeto.altura }}</td>
                <td>{{ objeto.velocidade }}</td>
                <td>{{ objeto.fk_categoria.nome }}</td>
            </tr>-->
        {% endfor %}
        </tbody>
    </table>
{% endblock %}