{% extends "base.html" %}
{% block conteudo %}





<div class="card text-white bg-dark text-center mx-auto" style="width: 35rem;">
    </br>
    <img src="{{ pokemon.imagem.url }}" class="card-img-top text-center mx-auto" alt="..." style="width:350px">


    <div class="card-body">
        <h5 class="card-title" id="poke">{{ pokemon.nome }}</h5>
        <div class="container">
            <div class="row style= width: 20px">
                <div class="col-sm">
                    <b class="card-title" id="habilidade1"> Habilidade: </b></br><b id="habilidade">{% for pokemon in pokemon.fk_habilidades.all %}
                        {{ pokemon.nome }} {% endfor %}</b></br>
                    <b class="card-text"  id="categoria1"> Categoria: </b></br><b id="categoria">{{ pokemon.fk_categoria.nome }}</b></br>
                </div>
                <div class="col-sm">
                    <b class="card-text" align="left" id="saude1"> Saúde: </b></br><b id="saude">{{ pokemon.ponto_saude }}</b></br>
                    <b class="card-text" align="left" id="ataque1"> Ataque: </b></br><b id="ataque">{{ pokemon.ataque }}</b></br>
                    <b class="card-text" align="left" id="altura1"> Altura: </b></br><b id="altura">{{ pokemon.altura }}</b></br>
                    <b class="card-text" align="left" id="peso1"> Peso: </b></br><b id="peso">{{ pokemon.peso }}</b></br>
                    <b class="card-text" align="left" id="defesa1"> Defesa: </b></br><b id="defesa">{{ pokemon.defesa }}</b></br>
                    <b class="card-text" align="left" id="ataquee1"> Ataque especial: </b></br><b id="ataquee">{{ pokemon.ataque_especial }}</b></br>
                    <b class="card-text" align="left" id="defesae1"> Defesa especial: </b></br><b id="defesae">{{ pokemon.defesa_especial }}</b></br>



                </div>
                <div class="col-sm">
                    <b class="card-text" align="left" id="velo1"> Velocidade: </b></br><b id="velo">{{ pokemon.velocidade }}</b></br>
                    <b class="card-text" align="left" id="exp1"> Experiência: </b></br><b id="exp">{{ pokemon.exp_base }}</b></br>

                </div>
            </div>
        </div>

  </br>



    <a href="{% url 'APLICACAO:listar_pokemons' %}">
    <button type="button" class="btn btn-secondary ">Voltar</button>
</a>
    </div>
</div>

<!--
<div class="card text-white bg-dark text-center mx-auto" style="width: 30rem; size: 30rem;">
    <img src="{{ pokemon.imagem.url }}" class="card-img-top text-center mx-auto" alt="..."  style="width:350px">
    <div class="card-body">
        <h5 class="card-title">{{ pokemon.nome }}</h5>

        <p class="card-title" align="left"> Habilidade: {% for pokemon in pokemon.fk_habilidades.all %}
            {{ pokemon.nome }} {% endfor %}

        <p class="card-text" align="left"> Categoria: {{ pokemon.fk_categoria.nome }}</p>
        <p class="card-text" align="left"> Saúde: {{ pokemon.ponto_saude }}</p>
        <p class="card-text" align="left"> Ataque: {{ pokemon.ataque }}</p>
        <p class="card-text" align="left"> Altura: {{ pokemon.altura }}</p>
        <p class="card-text" align="left"> Peso: {{ pokemon.peso }}</p>
        <p class="card-text" align="left"> Defesa: {{ pokemon.defesa }}</p>
        <p class="card-text" align="left"> Ataque especial: {{ pokemon.ataque_especial }}</p>
        <p class="card-text" align="left"> Defesa especial: {{ pokemon.defesa_especial }}</p>
        <p class="card-text" align="left"> Velocidade: {{ pokemon.velocidade }}</p>
        <p class="card-text" align="left"> Experiência: {{ pokemon.exp_base }}</p>

-->

        <!-- ponto_saude = models.PositiveIntegerField()
        ataque = models.PositiveIntegerField()
        defesa = models.PositiveIntegerField()
        ataque_especial = models.PositiveIntegerField()
        defesa_especial = models.PositiveIntegerField()
        velocidade = models.PositiveIntegerField()
        -->


        <!-- <a href="{% url 'APLICACAO:listar_pokemons' %}">
    <button type="button" class="btn btn-secondary ">Voltar</button>
</a>
    </div>
</div>
-->
<br>

<br>

<br>

<!--
<div class="progress" style="height: 10px;">
<div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
  {{ pokemon.altura }}
</div>
</div>
</div>


<div class="progress" style="width: {{ pokemon.ponto_saude }}px ">
<div> </div>
    <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 10%" aria-valuenow="10"  aria-valuemin="0" aria-valuemax="1600">
        Saúde: {{ pokemon.ponto_saude }}
</div>
</div><br>
-->

<!--
Numero: {% widthratio 100 1 pokemon.ataque %}<br>

<div class="progress">
    <div class="progress-bar progress-bar-striped bg-success" role="progressbar"
         style="width: {{ pokemon.ataque|add:'*100/1100' }}%" aria-valuenow="{{ pokemon.ataque|add:'*100/1100' }}" aria-valuemin="0" aria-valuemax="100">
        Ataque: {{ pokemon.ataque }}
    </div>
</div><br>

<div class="progress">
    <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 50%" aria-valuenow="50"
         aria-valuemin="0" aria-valuemax="100">
        Altura: {{ pokemon.altura }}
    </div>
</div><br>

<div class="progress">
    <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 75%" aria-valuenow="75"
         aria-valuemin="0" aria-valuemax="100">
        Peso: {{ pokemon.peso }}
    </div>
</div><br>

<div class="progress">
    <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100"
         aria-valuemin="0" aria-valuemax="100">
        Defesa: {{ pokemon.defesa }}
    </div>
</div><br>
<br>
-->

{% endblock %}